{% extends "base_generic.html" %}

{% block content %}
    <div class="mt-4">
    </div>
    <h2 style="color: darkgray">
      All Blogs
    </h2>
    <div class="mb-4">
    </div>
  {% if blog_list %}
    {% for blog in blog_list %}
    <div class="list-group">
        <a href="{{ blog.get_absolute_url }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ blog.post }}</h5>
                <small>{{blog.date}}</small>
            </div>
        <p class="mb-1">{{ blog.description }}</p>
        <small><strong>Author: </strong>{{ blog.author }}</small>
        </a>
    </div>
    <div class="mt-2">

    </div>
    {% endfor %}
  {% else %}
    <p>There are no posts in this blog.</p>
  {% endif %}

{% endblock %}